:root {
    --cor-0: #ffffff;
    --cor-1: #f2f2f2;
    --cor-2: #f7f7f7;
    --cor-3: #ffeeee;
    --cor-4: #f77e7e;
    --cor-5: #f76565;
    --cor-6: #ef4444;
    --cor-7: #eb1c2a;
    --cor-8: #ea1d2c;
    --cor-9: #f30101;
    --cor-10: #ff0000;
    --cor-11: #c40101;
    --cor-12: #e4e4e4;
    --cor-13: #1F2937;
    --cor-14: #000000; 
  }
  
  .cor-0 {
    color: var(--cor-0);
  }
  
  .cor-1 {
    color: var(--cor-1);
  }
  
  .cor-2 {
    color: var(--cor-2);
  }
  
  .cor-3 {
    color: var(--cor-3);
  }
  
  .cor-4 {
    color: var(--cor-4);
  }
  
  .cor-5 {
    color: var(--cor-5);
  }
  
  .cor-6 {
    color: var(--cor-6);
  }
  
  .cor-7 {
    color: var(--cor-7);
  }
  
  .cor-8 {
    color: var(--cor-8);
  }
  
  .cor-9 {
    color: var(--cor-9);
  }

  .cor-10 {
    color: var(--cor-9);
  }

  .cor-11 {
    color: var(--cor-9);
  }
