* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    line-height: 1;
    background-color: #f8f9fa;
    overflow-x: hidden;
    overflow-y: scroll;
}

th {
    background-color: #dc3545;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
}

/* Botões */
button {
    cursor: pointer;
    font-size: 10px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #dc3545;
    color: #fff;
}

.main-content {
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.3s ease;
}

.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
}

/* Editar as cores dos cargos */
.status {
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
}

.status.financeiro {
    background-color: #86e49d;
    color: #006b21;
}

.status.cardapio {
    background-color: #d893a3;
    color: #b30021;
}

.status.administrador {
    background-color: #ebc474;
}

.status.atendimento {
    background-color: #6fcaea;
}

/* Arrumando o sistema de busca */
input[type="text"] {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 10px;
    width: 100%;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #dc3545;
    outline: none;
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.2);
}



/* Responsivo para menores que 768px*/
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        gap: 15px;
    }

    input[type="text"] {
        margin-bottom: 10px;
    }

    table {
        font-size: 0.9rem;
    }
}

/* Responsivo para menores que 575px */
@media (max-width: 575px) {
    h2 {
        font-size: 1.5rem;
    }

    table {
        font-size: 0.8rem;
    }

    th,
    td {
        padding: 0.5rem;
    }

    table {
        overflow: scroll;
    }
}