/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 100%;
    line-height: 1;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

/* Estilo do título */

.main-content {
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.3s ease;
}

.card {
    margin-bottom: 20px;
}

.chart-container {
    height: 100%;
    width: auto;
}

.canvas {
    width: 100% !important;
    height: auto !important;
}

.chart {
    width: 100%;
    max-width: 100%;

    margin: 0 auto;
}

#map {
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 975px) {
    .main-content {
        margin-top: 30px;
        margin-left: 0;
        padding: 30px;
    }

    .toggle-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background-color: #ff0000;
        color: white;
        border: none;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 5px;
    }

    .col-md-10,
    .col-md-5,
    .col-md-6,
    .col-md-11 {
        width: 100%;
    }

    .card {
        margin-bottom: 20px;
        width: 100%;
    }

}