.rodape {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    /* align-items: center; */
    gap: 1em;
    font-size: 1rem;
    box-sizing: border-box;
    padding: 1em 1em 1em 250px;
}

.feito-por--item {
    list-style-type: none;
    font-size: 1.2rem;
    border-bottom: 2px solid #d82632;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    gap: 2em;
}

.feito-por--item p {
    align-items: center;
}

.informacoes-lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacoes-item {
    display: flex;
}

.informacoes-link {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    width: 100%;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 8px;
    font-weight: 500;
}

.rodape-copy {
    text-align: center;
}

@media (max-width: 976px) {
    .rodape {
        flex-direction: column;
        padding: 1em;
    }
}