.footer-bg {
    background-color: white;
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer h3 {
    margin-bottom: 32px;
}

.footer-contato ul {
    margin-bottom: 32px;
}

.footer-feitopor li:nth-child(1):after,
.footer-feitopor li:nth-child(2):after,
.footer-feitopor li:nth-child(3):after,
.footer-feitopor li:nth-child(4):after,
.footer-feitopor li:nth-child(5):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background-color: #751d1d;
    margin-top: 16px
}

.footer li {
    margin-bottom: 16px;
}

.footer-copy {
    grid-column: 1/-1;
    margin-top: 40px;
}

@media (max-width: 800px) {
    .footer>img {
        display: none;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .footer-copy {
        margin-top: 0px
    }
}