/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-size: 100%;
    line-height: 1;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

/* Estilos da Sidebar */
.sidebar {
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.sidebar img {
    vertical-align: middle;
    margin: 5px;
}

.sidebar a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar a:hover {
    color: #ff0000;
}

/* Estilo do título */
.title {
    color: #1F2937;
    font-size: 100%;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.active {
    color: #ff0000;
}

@media (max-width: 975px) {
    .sidebar {
        height: auto;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        z-index: 1000;
        padding: 10px 0;
        text-align: center;
    }

    .sidebar.active {
        transform: translateY(0);
    }

    .sidebar a {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .main-content {
        margin-top: 30px;
        margin-left: 0;
        padding: 30px;
    }

    .toggle-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background-color: #ff0000;
        color: white;
        border: none;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 5px;
    }
}