/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
    line-height: 1;
    background-color: #f8f9fa;
    overflow-x: hidden;
}

/* Estilos da Sidebar */
.sidebar {
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.sidebar img {
    vertical-align: middle;
    margin: 5px; 
}

.sidebar a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar a:hover {
    color: #ff0000;
}

/* Estilo do título */
.title {
    color: #1F2937;
    font-size: 100%;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.active {
    color: #ff0000;
}


.main-content {
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.3s ease;
}

.card {
    margin-bottom: 20px;
}

.chart-container {
    height: 100%;
    width: auto;
}

.canvas {
    width: 100% !important;
    height: auto !important;
}

.circle-chart {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.product-bar {
    height: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
    display: grid;
    justify-content: center;
    border-radius: 360px;
}

.product-bar-1 {
    width: 80%;
    background-color: #F77E7E;
}

.product-bar-2 {
    width: 60%;
    background-color: #F76565;
}

.product-bar-3 {
    width: 50%;
    background-color: #EF4444;
}

.product-bar-4 {
    width: 70%;
    background-color: #F30101;
}

.product-bar-5 {
    width: 90%;
    background-color: #C40101;
}


@media (max-width: 975px) {
    .sidebar {
        height: auto;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        z-index: 1000;
        padding: 10px 0; 
        text-align: center; 
    }

    .sidebar.active {
        transform: translateY(0);
    }

    .sidebar a {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .main-content {
        margin-top: 30px;
        margin-left: 0;
        padding: 30px;
    }

    .toggle-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background-color: #ff0000;
        color: white;
        border: none;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 5px;
    }

    .col-md-10, .col-md-5, .col-md-6, .col-md-11 {
        width: 100%;
    }

    .card {
        margin-bottom: 20px;
        width: 100%; 
    }

}


@media (max-width: 768px) {
    .sidebar {
        height: auto;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        z-index: 1000;
        padding: 10px 0; 
        text-align: center; 
    }

    .sidebar.active {
        transform: translateY(0);
    }

    .main-content {
        margin-top: 30px;
        margin-left: 0; 
        padding: 30px; 
    }

    .toggle-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background-color: #ff0000;
        color: white;
        border: none;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 5px;
    }

    .sidebar a {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
}
