* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
    line-height: 1;
    background-color: #f8f9fa;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Buttons custom styling */
.btn-custom {
    background-color: white;
    color: #dc3545; /* Red color matching the theme */
    border: 1px solid #e0e0e0;
    padding: 15px 25px; /* Larger padding for bigger buttons */
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.btn-custom:hover {
    background-color: #ffe6e6;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/*Table container styling*/ 
.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 85%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: center;
} 

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.financeiro {
    background-color: #86e49d;
    color: #006b21;
}

.status.cardapio {
    background-color: #d893a3;
    color: #b30021;
}    

.status.administrador {
    background-color: #ebc474;
}

.status.atendimento {
    background-color:#6fcaea;
}

/* Estilos da Sidebar */
.sidebar {
    background-color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ajusta a largura conforme necessário */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    transition: transform 0.3s ease;
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
}

.sidebar img {
    vertical-align: middle; /* Alinha verticalmente o ícone com o texto */
    margin: 5px; 
}

.sidebar a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 10px 0;
    display: flex; /* Utiliza flexbox para alinhar ícones e texto */
    align-items: center; /* Alinha verticalmente ícones e texto */
    justify-content: space-between;
    width: 100%; /* Garantia de que o link ocupe toda a largura disponível */
}

.sidebar a:hover {
    color: #ff0000;
}

/* Media Query para dispositivos menores que 975px */
@media (max-width: 975px) {
    .sidebar {
        height: auto;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        z-index: 1000;
        padding: 10px 0; /* Ajusta o padding para evitar overflow */
        text-align: center; /* Centraliza o texto */
    }

    .sidebar.active {
        transform: translateY(0);
    }

    .main-content {
        margin-left: 0;
        padding: 30px;
    }

    .toggle-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background-color: #ff0000;
        color: white;
        border: none;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 5px;
    }

    .sidebar a {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
}

/* Media Query para dispositivos menores que 768px */
@media (max-width: 768px) {
    .sidebar {
        height: auto;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateY(-100%);
        z-index: 1000;
        padding: 10px 0; /* Ajusta o padding para evitar overflow */
        text-align: center; /* Centraliza o texto */
    }

    .sidebar.active {
        transform: translateY(0);
    }

    .main-content {
        margin-left: 0; /* Remove a margem esquerda */
        padding: 30px; /* Ajusta o padding para garantir espaço suficiente */
    }

    .toggle-btn {
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1100;
        background-color: #ff0000;
        color: white;
        border: none;
        padding: 10px;
        font-size: 24px;
        cursor: pointer;
        border-radius: 5px;
    }

    .sidebar a {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
}