:root {
  --tipografia-12px-regular-font-family: "Poppins", Helvetica;
  --tipografia-12px-regular-font-weight: 400;
  --tipografia-12px-regular-font-size: 12px;
  --tipografia-12px-regular-letter-spacing: 0px;
  --tipografia-12px-regular-line-height: 160.0000023841858%;
  --tipografia-12px-regular-font-style: normal;
  --secondary-text-font-family: "Inter", Helvetica;
  --secondary-text-font-weight: 400;
  --secondary-text-font-size: 12px;
  --secondary-text-letter-spacing: 0px;
  --secondary-text-line-height: normal;
  --secondary-text-font-style: normal;
  --variable-collection-neutral-500: rgba(75, 85, 99, 1);
  --variable-collection-neutral-600: rgba(31, 41, 55, 1);
  --variable-collection-neutral-400: rgba(122, 139, 153, 1);
  --variable-collection-neutral-300: rgba(180, 190, 198, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-neutral-50: rgba(246, 247, 248, 1);
  --variable-collection-neutral-100: rgba(237, 240, 242, 1);
}
